:root {
    --white: #ffffff;
    --black: #000000;

    --dark: #384756;
    --darkest: #333f4e;
    --light: #f0f1f0;
    --grey: #b4b9bd; 
} 


/* Global */

*,
::before,
::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.page {
    height: 100%;
}

.page-body {
    display: grid;
     grid-template-rows: auto 1fr;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.25;
    background-color: var(--grey);
    color: var(--darkest);
}

img {
    max-width: 100%;
    height: auto;
}

/* Container */

.container {
    width: 1030px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container--main {
    height: 100%;
}

/* Header */

.page-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--white);
}

.page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Button */

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button--search {
    font-size: 26px;
}


.button--close {
    color: var(--white);
}

/* Actions menu */

.actions__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.actions__item {
    margin-right: 25px;
}

.actions__item:last-child {
    margin-right: 0;
}

.actions__link {
    font-size: 26px;
}

.actions__link--profile {
    font-size: 38px;
}

/* Icons */

.fa-search,
.fa-comment-alt,
.fa-bell,
.fa-user-circle {
    color: var(--grey);
}

/* Page main */

.page-main__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    height: 100%;
}

.second-grid {
    grid-template-columns: 1fr 2fr;
}

.third-grid {
    grid-column: span 2 / -1;
    grid-row: span 2 / -1;
}

.fourth-grid {
    grid-template-rows: 1fr 2fr;
}

.col--col-general {
    grid-column: 1 /span 2;
}

.col--col-start-span {
    grid-column: 1 /span 2;
}

.col--row-end-span {
    grid-row: -1 /2;
    grid-column-start: -2;
}

.col--col-end-span {
    grid-column: -1 /span 2;
}

/* Column */

.col {
    border-radius: 6px;
    background-color: var(--white);
}

.col--hidden {
    display: none;
}


/* Navigation */

.nav {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--dark);
}

.nav--opened {
    width: 330px;
}

.nav--opened .decoration-list {
    display: none;
}

.nav--opened .mian-nav__item {
    display: block;
}

.nav--opened .logo {
    display: block;
}

.nav--opened .button--close {
    display: block;
}

.nav--closed .mian-nav__item {
    display: none;
}

.nav--closed .logo {
    display: none;
}

.nav--closed .button--close {
    display: none;
}

.nav--closed .decoration-list {
    display: block;
}

.nav__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
    padding: 15px;
    min-height: 55px;
    background-color: var(--darkest);
}

.main-nav {
    padding: 15px;
}

.main-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--white);
    text-decoration: none;
    transition: 0.35s;
}

.main-nav__link:hover {
    color: var(--grey);
}

.decoration-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.decoration-list__item {
    position: relative;
    width: 60px;
    height: 60px;
}

.decoration-list__item::before {
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: var(--grey);
}
